<div class="jackpot-container">
  <gos-jackpot-widget
    jackpot-id="yzFunGTGHi545263666620552"
    colors-scheme="ruby, emerald, amethyst, opal"
    theme="low-light"
    jwt="eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVyX2lkIjoiTV9NIiwiZXhwaXJhdGlvbl9kYXRlIjoiMjAyNC0wMy0yMiAxNToxNTo0Mi40NjA4NzkrMDA6MDAiLCJwbGF5ZXJfaWQiOiJkMWI4OTI3Mi1jZWVlLTExZWQtOGFiMS0zMWVlYzc2ZWJlM2MifQ.qznVHbWz_-CmuCvywfzw5aOwDVLj7GEQKQZyt0m1vxaAqZwyorwkJmt3YVXVsxi0Z-t3Hv6aPB9zm5i6YUCJig"
    type="1"
    in-lobby="false"
    is-dev-env="true"
  ></gos-jackpot-widget>
</div>