<form [formGroup]="form">
  <div class="form-field">
    <label for="id">Widget id</label>
    <input formControlName="id" id="id" type="text" />
  </div>
  <div class="form-field">
    <label for="token">Token</label>
    <input id="token" formControlName="token" type="text" />
  </div>
  <div class="form-field">
    <label for="session">Session</label>
    <input id="session" formControlName="session" type="text" />
  </div>
  <div class="form-field">
    <label>Currency</label>
    <input id="cyrrency" formControlName="currency" type="text" />
  </div>
  <div class="form-field">
    <label for="language">Language</label>
    <select formControlName="language" id="language">
      <option [value]="undefined">Default</option>
      <option value="en">English</option>
      <option value="pt">Portuguese</option>
      <option value="es">Spanish</option>
      <option value="ja">Japanese</option>
      <option value="hi">Hindi</option>
      <option value="fr">Français</option>
      <option value="de">Deutsch</option>
      <option value="pl">Polska</option>
      <option value="gr">Ελληνικά</option>
      <option value="fi">Suomi</option>
      <option value="no">Norsk</option>
      <option value="it">Italiano</option>
      <option value="dk">Dansk</option>
      <option value="es">Español</option>
      <option value="hu">Magyar</option>
      <option value="sl">Slovenian</option>
    </select>
  </div>
  <div class="form-field">
    <label for="mode">Mode</label>
    <select formControlName="mode" id="mode">
      <option value="light">Light</option>
      <option value="Dark">Dark</option>
    </select>
  </div>
  <div class="form-field">
    <label for="isDevEnv" class="switch">
      <input type="checkbox" formControlName="isDevEnv" id="isDevEnv" />
      <span>Development</span>
    </label>
  </div>
  <div class="form-field">
    <label for="gameId">Game ID</label>
    <input id="gameId" formControlName="gameId" type="text" />
  </div>
  <div class="form-field">
    <label for="providerId">Provider ID</label>
    <input id="providerId" formControlName="providerId" type="text" />
  </div>
  <div class="form-field">
    <button (click)="reloadWidget()">Reload</button>
  </div>
</form>

@if (form.valid && reload) {
<div class="jackpot-container">
  <gos-jackpot-widget
    *ngIf="form.value.isDevEnv"
    [isDevEnv]="true"
    [widgetId]="form.value.id"
    [jwt]="form.value.token"
    [session]="form.value.session"
    [gameId]="form.value.gameId"
    [providerId]="form.value.providerId"
    [language]="form.value.language"
    [widgetCurrency]="form.value.currency"
  ></gos-jackpot-widget>

  <gos-jackpot-widget
    *ngIf="!form.value.isDevEnv"
    [isDevEnv]="false"
    [widgetId]="form.value.id"
    [jwt]="form.value.token"
    [session]="form.value.session"
    [gameId]="form.value.gameId"
    [providerId]="form.value.providerId"
    [language]="form.value.language"
    [widgetCurrency]="form.value.currency"
  ></gos-jackpot-widget>
</div>
}
