form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 20px;

  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    font-size: sans-serif;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.jackpot-container {
  margin: 0 auto;
  // padding: 5px;
  // padding-top: 30px;
  // height: 550px;
  // border-radius: 20px;
  // border: 2px solid rgb(4, 5, 5);
  // background-color: rgba(114, 113, 113, 0.548);
  // box-shadow: inset 0px 0px 0px 5px rgba(34, 32, 32, 0.651);
}
