<form [formGroup]="form">
  <div class="form-field">
    <label for="id">Widget id</label>
    <input formControlName="id" id="id" type="text">
  </div>
  <div class="form-field">
    <label for="token">Token</label>
    <input id="token" formControlName="token" type="text">
  </div>
  <div class="form-field">
    <label for="language">Language</label>
    <select formControlName="language" id="language">
      <option [value]="undefined">Default</option>
      <option value="en">English</option>
      <option value="pt">Portuguese</option>
      <option value="es">Spanish</option>
      <option value="ja">Japanese</option>
      <option value="hi">Hindi</option>
      <option value="fr">Français</option>
      <option value="de">Deutsch</option>
      <option value="pl">Polska</option>
      <option value="gr">Ελληνικά</option>
      <option value="fi">Suomi</option>
      <option value="no">Norsk</option>
      <option value="it">Italiano</option>
      <option value="dk">Dansk</option>
      <option value="es">Español</option>
      <option value="hu">Magyar</option>
    </select>
  </div>
</form>

@if (form.valid && reload) {
<div class="jackpot-container">
  <gos-jackpot-widget is-dev-env="true" [widgetId]="form.value.id" [jwt]="form.value.token"
    [language]="form.value.language"></gos-jackpot-widget>
</div>
}